# Description

This is a demonstration of the new possibilities to control transactions with `pangres` version 4.

As an example we will pretend that we setup a user in a system.

In [1]:
import pandas as pd
from distutils.version import LooseVersion
from pangres import upsert_future
from sqlalchemy import create_engine, inspect as sqla_inspect, text
from typing import Optional
# the line below is only for informational purposes
# this is automatically imported in notebooks/IPython
from IPython.display import display

# Helpers

## SQL helpers

In [2]:
def table_exists(connection, table_name, schema=None) -> bool:
    insp = sqla_inspect(connection)
    import sqlalchemy
    if LooseVersion(sqlalchemy.__version__) >= LooseVersion("1.4.0"):
        return insp.has_table(table_name=table_name, schema=schema)
    else:
        return table_name in insp.get_table_names(schema=schema)


def drop_table(engine, table_name, schema=None):
    with engine.connect() as connection:
        # avoid MySQL warnings when table does not exist by checking beforehand
        if not table_exists(connection=connection, table_name=table_name,
                            schema=schema):
            return
        ns = f'{schema}.{table_name}' if schema is not None else table_name
        connection.execute(text(f'DROP TABLE {ns};'))
        if hasattr(connection, 'commit'):
            connection.commit()


def display_table(connection, table_name, schema=None):
    ns = f'{schema}.{table_name}' if schema is not None else table_name
    query = text(f'SELECT * FROM {ns}')
    try:
        display(pd.read_sql(query, con=connection, index_col='id'))
    except Exception:
        if not table_exists(connection=connection, table_name=table_name):
            print('Could not display table as it does not exist')

## Dummy helpers for imitating a Python-based app

This will be used to make the demo a bit more realistic

In [3]:
def setup_user(id_:int):
    """
    Dummy function that pretends to setup a user account in some system
    """
    print(f'User with id {id_} created')


def add_user_to_db(connection, id_:int, name:str,  table_name:str,
                   schema:Optional[str]=None):
    """
    Uses pangres to add a user to a database
    """
    df = pd.DataFrame([{'id':id_, 'name':name}]).set_index('id')
    upsert_future(con=connection, df=df, table_name=table_name, if_row_exists='update',
                  chunksize=1000,
                  create_table=True)  # default
    print(f'User with id {id_} added to the db')


def post_user_setup_operation(id_:int, simulate_error:bool=False):
    """
    Dummy function that pretends to do an operation after a user
    has been created 

    Parameters
    ----------
    simulate_error
        If True, raises an error to simulate the failure of the creation
        of the user's account
    """
    if simulate_error:
        raise AssertionError('Could not do post setup operation')
    else:
        print(f'Post setup operation for user with id {id_} successful')

# Config

In [4]:
connection_string = "sqlite:///:memory:"
# connection_string = "postgresql://username:password@localhost:5432"
# connection_string = "mysql+pymysql://username:password@localhost:3306"
schema = None  # only relevant for PostgreSQL, leave this to None for other database types

# add parameter future=True to try out sqlalchemy v2
engine = create_engine(connection_string)

# 1. With an explicit transaction

**Important notes on transactions**:

* All transactions operate at **connection level** and not at **engine level**.
* Depending on several factors such as these below, not all operations in a transaction may be rolled back
    * driver (e.g. it seems that we cannot rollback a CREATE TABLE operation with Python's sqlite3 driver)
    * SQL flavor (e.g. MySQL does not support rollback for DDL so rolling back the creation of a table is also not possible)
    * database version

Below are some examples of how you can use transactions together with `pangres`.

## 1.1. With a context manager for the connection and the transaction

In [5]:
id_, table_name = 1, 'example2'
drop_table(engine=engine, schema=schema, table_name=table_name)  # reset tests

# start a connection that will autoclose when we are done (`with` statement)
with engine.connect() as connection:
    # start a transaction that will autocommit when we are done or rollback (`with` statement)
    # and then close
    with connection.begin():
        setup_user(id_=id_)
        add_user_to_db(connection=connection, id_=id_, name='bar', table_name=table_name)
        post_user_setup_operation(id_=id_)

    # this needs to be outside "with connection..." as a commit is issued upon closing of the context manager
    display_table(connection=connection, schema=schema, table_name=table_name)

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful

   name
id
1   bar

## 1.2. With a single context manager for both (shorter variant using `engine.begin`)

`with engine.begin() as connection_with_trans` does the following:

1. start a connection
2. start a transaction within this connection
3. commit if everything went fine otherwise rollback
4. close the transaction
5. close the connection

In [6]:
id_, table_name = 1, 'example3'
drop_table(engine=engine, schema=schema, table_name=table_name)  # reset tests

with engine.begin() as connection_with_trans:
    setup_user(id_=id_)
    add_user_to_db(connection=connection_with_trans, id_=id_, name='bar', table_name=table_name)
    post_user_setup_operation(id_=id_)

# this needs to be outside "with engine.begin..." as a commit is issued upon closing of the context manager
with engine.connect() as connection:
    display_table(connection=connection, schema=schema, table_name=table_name)

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful

   name
id
1   bar

## 1.3. With a context manager for the connection and manual control for the transaction

This will give you finer control than the two previous options

In [7]:
id_, table_name = 1, 'transaction_control_example'
drop_table(engine=engine, schema=schema, table_name=table_name)  # reset tests

# start a connection that will autoclose when we are done (`with` statement)
with engine.connect() as connection:
    trans = connection.begin()
    try:
        setup_user(id_=id_)
        add_user_to_db(connection=connection, id_=id_, name='bar', table_name=table_name)
        # change `simulate_error` to False|True to observe the behavior
        post_user_setup_operation(id_=id_, simulate_error=False)
    except Exception as e:
        print(f'ERROR: {e}')
        print('ROLLING BACK')
        trans.rollback()
    else:
        # commit if no exception occured
        print('COMMITING')
        trans.commit()
    finally:
        display_table(connection=connection, schema=schema, table_name=table_name)
        trans.close()

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful
COMMITING

   name
id
1   bar

## 1.4. Manual control for both the connection and transaction

For even finer control

In [8]:
id_, table_name = 1, 'fine_control'
drop_table(engine=engine, table_name=table_name, schema=schema)  # reset tests


connection = engine.connect()
try:
    trans = connection.begin()
    try:
        setup_user(id_=id_)
        add_user_to_db(connection=connection, id_=id_, name='baz', table_name=table_name)
        # change `simulate_error` to False|True to observe the behavior
        post_user_setup_operation(id_=id_, simulate_error=False)
    except Exception as e:
        print(f'ERROR: {e}')
        print('ROLLING BACK')
        trans.rollback()
    else:
        print('COMMITING')
        trans.commit()
    finally:
        display_table(connection=connection, schema=schema, table_name=table_name)
        trans.close()
except Exception:
    # do something
    pass
finally:
    connection.close()

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful
COMMITING

   name
id
1   baz

# 2. Without an explicit transaction (autocommit | commit-as-you-go or rollback)

The functionality and features depend on the **sqlalchemy version**.

## 2.1. sqlalchemy < 2.0

Everything gets **autocommited** by default. So we can not rollback when operating this way.

It might be possible to get similar functionality to sqlalchemy 2.0 (see subchapter "sqlalchemy >= 2.0") but I could not find the information.

In [9]:
engine = create_engine(connection_string)

In [10]:
table_name = 'autocommit'
drop_table(engine=engine, table_name=table_name, schema=schema)  # reset tests

with engine.connect() as connection:
    # add a first user
    setup_user(id_=1)
    add_user_to_db(connection=connection, table_name=table_name, id_=1, name='foo')
    post_user_setup_operation(id_=1)

    # add a second user
    setup_user(id_=2)
    add_user_to_db(connection=connection, table_name=table_name, id_=2, name='foo')
    post_user_setup_operation(id_=2)

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful
User with id 2 created
User with id 2 added to the db
Post setup operation for user with id 2 successful

## 2.2. sqlalchemy >= 2.0

Here we can **commit as we go or rollback**.

Until version **2.0** is out we can also use the flag **`future=True`** when creating an engine in sqlalchemy **1.4**. This is what we are doing below.

This flag does not exist in sqlalchemy **1.3** so an Exception will be raised. **The rest of this notebook**, however, is **>= 1.3 compatible**.

In [11]:
engine_future = create_engine(connection_string, future=True)

In [12]:
table_name = 'commit_as_you_go'
drop_table(engine=engine_future, table_name=table_name, schema=schema)  # reset tests

with engine_future.connect() as connection:
    # add a first user and commit
    setup_user(id_=1)
    add_user_to_db(connection=connection, table_name=table_name, id_=1, name='foo')
    post_user_setup_operation(id_=1)
    connection.commit()

    # for some reason we will rollback this second user
    setup_user(id_=2)
    add_user_to_db(connection=connection, table_name=table_name, id_=2, name='bar')
    post_user_setup_operation(id_=2)
    print('!!!OOOPS rolling back for second user!!!')
    connection.rollback()

    display_table(connection=connection, schema=schema, table_name=table_name)

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful
User with id 2 created
User with id 2 added to the db
Post setup operation for user with id 2 successful
!!!OOOPS rolling back for second user!!!

   name
id
1   foo