# Description

This is a demonstration of how `pangres` could work in the future with or without transactions from users.

As an example we will pretend that we setup a user in a system.

In [1]:
import pandas as pd
from distutils.version import LooseVersion
from pangres import upsert_future
from sqlalchemy import create_engine, inspect as sqla_inspect, text
from typing import Optional
# the line below is only for informational purposes
# this is automatically imported in notebooks/IPython
from IPython.display import display

# Helpers

In [2]:
def table_exists(connection, table_name, schema=None):
    insp = sqla_inspect(connection)
    import sqlalchemy
    if LooseVersion(sqlalchemy.__version__) >= LooseVersion("1.4.0"):
        return insp.has_table(table_name=table_name, schema=schema)
    else:
        return table_name in insp.get_table_names(schema=schema)


def drop_table(table_name, schema=None):
    with engine.connect() as connection:
        # avoid MySQL warnings when table does not exist by checking beforehand
        if not table_exists(connection=connection, table_name=table_name,
                            schema=schema):
            return
        ns = f'{schema}.{table_name}' if schema is not None else table_name
        connection.execute(text(f'DROP TABLE {ns};'))
        if hasattr(connection, 'commit'):
            connection.commit()


def display_table(table_name, schema=None):
    ns = f'{schema}.{table_name}' if schema is not None else table_name
    with engine.connect() as connection:
        query = text(f'SELECT * FROM {ns}')
        display(pd.read_sql(query, con=connection, index_col='id'))


def setup_user(id_:int):
    """
    Dummy function that pretends to setup a user account in some system
    """
    print(f'User with id {id_} created')


def add_user_to_db(connection, id_:int, name:str,  table_name:str,
                   schema:Optional[str]=None):
    """
    Uses pangres to add a user to a database
    """
    df = pd.DataFrame([{'id':id_, 'name':name}]).set_index('id')
    upsert_future(con=connection, df=df, table_name=table_name, if_row_exists='update',
                  chunksize=1000,
                  create_table=True)  # default
    print(f'User with id {id_} added to the db')


def post_user_setup_operation(id_:int, simulate_error:bool=False):
    """
    Dummy function that pretends to do an operation after a user
    has been created 

    Parameters
    ----------
    simulate_error
        If True, raises an error to simulate the failure of the creation
        of the user's account
    """
    if simulate_error:
        raise AssertionError('Could not do post setup operation')
    else:
        print(f'Post setup operation for user with id {id_} successful')

# Config

In [3]:
connection_string = "sqlite:///:memory:"
schema = None
# connection_string = "postgresql://username:password@localhost:5432"
# connection_string = "mysql+pymysql://username:password@localhost:3306"

engine = create_engine(connection_string)

# Without a transaction

As an alternative to the code below you could give `pangres` the `engine` object directly.

It will create a connection for you from the engine and close it when the operation is done.

In [4]:
id_, table_name = 1, 'example1'
drop_table(table_name)  # reset tests
with engine.connect() as connection:
    setup_user(id_=id_)
    add_user_to_db(connection=connection, table_name=table_name, id_=id_, name='foo')
    post_user_setup_operation(id_=id_)
display_table(table_name)

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful

   name
id
1   foo

# With a transaction

# Important notes on transactions

* All transactions operate at **connection level** and not at **engine level**.
* Depending on several factors such as these below, not all operations in a transaction may be rolled back
    * driver (e.g. it seems that we cannot rollback a CREATE TABLE operation with Python's sqlite3 driver)
    * SQL flavor (e.g. MySQL does not support rollback for DDL so rolling back the creation of a table is also not possible)
    * database version

Below are some examples of how you can use transactions together with `pangres`.

## With a context manager for the connection and the transaction

In [5]:
id_, table_name = 1, 'example2'
drop_table(table_name)  # reset tests

# start a connection that will autoclose when we are done (`with` statement)
with engine.connect() as connection:
    # start a transaction that will autocommit when we are done or rollback (`with` statement)
    # and then close
    with connection.begin():
        setup_user(id_=id_)
        add_user_to_db(connection=connection, id_=id_, name='bar', table_name=table_name)
        post_user_setup_operation(id_=id_)
    # this needs to be outside "with" as a commit is issued upon closing of the context manager
    display_table(table_name)

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful

   name
id
1   bar

## With a single context manager for both (shorter variant using `engine.begin`)

`with engine.begin() as connection_with_trans` does the following:

1. start a connection
2. start a transaction within this connection
3. commit if everything went fine otherwise rollback
4. close the transaction
5. close the connection

In [6]:
id_, table_name = 1, 'example3'
drop_table(table_name)  # reset tests

with engine.begin() as connection_with_trans:
    setup_user(id_=id_)
    add_user_to_db(connection=connection_with_trans, id_=id_, name='bar', table_name=table_name)
    post_user_setup_operation(id_=id_)

display_table(table_name)

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful

   name
id
1   bar

## With a context manager for the connection and manual control for the transaction

This will give you finer control than the two previous options

In [7]:
id_, table_name = 1, 'transaction_control_example'
drop_table(table_name)  # reset tests

# start a connection that will autoclose when we are done (`with` statement)
with engine.connect() as connection:
    trans = connection.begin()
    try:
        setup_user(id_=id_)
        add_user_to_db(connection=connection, id_=id_, name='bar', table_name=table_name)
        # change `simulate_error` to False|True to observe the behavior
        post_user_setup_operation(id_=id_, simulate_error=True)
    except Exception as e:
        print(e)
        print('ROLLING BACK')
        trans.rollback()
        try:
            display_table(table_name)
        except Exception:
            assert not table_exists(connection=connection, table_name=table_name)
            print('Could not display table, most likely the table creation was rolled back')
    else:
        # commit if no exception occured
        print('COMMITING')
        trans.commit()
        display_table(table_name)
    finally:
        trans.close()

User with id 1 created
User with id 1 added to the db
Could not do post setup operation
ROLLING BACK

Empty DataFrame
Columns: [name]
Index: []

## Manual control for both the connection and transaction

For even finer control

In [8]:
id_, table_name = 1, 'fine_control'
drop_table(table_name)  # reset tests


connection = engine.connect()
try:
    trans = connection.begin()
    try:
        setup_user(id_=id_)
        add_user_to_db(connection=connection, id_=id_, name='baz', table_name=table_name)
        # change `simulate_error` to False|True to observe the behavior
        post_user_setup_operation(id_=id_, simulate_error=False)
    except Exception as e:
        print(e)
        print('ROLLING BACK')
        trans.rollback()
    else:
        print('COMMITING')
        trans.commit()
        display_table(table_name)
    finally:
        trans.close()
except Exception:
    # do something
    pass
finally:
    connection.close()

User with id 1 created
User with id 1 added to the db
Post setup operation for user with id 1 successful
COMMITING

   name
id
1   baz